$cart_icon: #b0eb00;
$underline: #595959;
$dark_underline: #363636;
$purple_underline_translucent: rgba(63, 9, 79, 0.9);
$modal_background: rgba(0, 0, 0, 0.3);
$shadow: #a6a6a6;
$product_background: rgb(248, 248, 248);
$black: #000000;
$mustard: #ffd957;
