{
  "plugins": [
    "cypress"
  ],
  "extends": [
    "plugin:shopify/esnext",
    "plugin:shopify/jquery",
    "plugin:cypress/recommended"
  ],
  "env": {
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    "babel/no-invalid-this": 0,
    "import/no-anonymous-default-export": 0,
    "import/no-unresolved": ["error", {
      "ignore": ["^jquery", "^Styles", "^Layout", "^Scripts", "^Sections","^Snippets", "^Templates"]
    }],
    "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "warn",
    "function-paren-newline": 0,
    "no-confusing-arrow": "warn",
    "no-alert": 0,
    "no-console": 0,
    "prefer-const": 0,
    "no-new": 0,
    "node/shebang": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "Shopify": true,
    "theme": true
  }
}
