<div data-image-carousel-handle="{{current_handle}}" data-section-id="image-carousel" data-section-type="image-carousel" class="image-carousel">
  <div data-image-carousel="image-block-row" class="image-carousel__row">
<!--       <div data-image-carousel="image-block-one" class="image-carousel__image-block">-->
<!--           IMAGE ONE-->
<!--       </div>-->
<!--       <div data-image-carousel="image-block-two" class="image-carousel__image-block">-->
<!--           IMAGE TWO-->
<!--       </div>-->
  </div>
<!--    <div class="image-carousel__row">-->
<!--        <div data-image-carousel="image-block-three" class="image-carousel__image-block">-->
<!--            IMAGE THREE-->
<!--        </div>-->
<!--        <div data-image-carousel="image-block-four" class="image-carousel__image-block image-carousel__more-block">-->
<!--            More Block-->
<!--        </div>-->
<!--    </div>-->
</div>
