<!--<form action="/search" method="get" role="search">-->
<!--</form>-->
<div data-section-id="search_module" data-section-type="search-module" class="search-module">
    <label for="Search" class="label-hidden">
        {{ 'general.search.placeholder' | t }}
    </label>
    <input data-search-input
           type="search"
           name="search-box"
           id="Search"
           class="search-input"
           value="{{ search.terms | escape }}"
           placeholder="{{ 'general.search.placeholder' | t }}">
</div>
