<section data-section-id="product-card-popup" data-section-type="product-card-popup" class="product-card-popup">
    <div data-product-card-popup-state class="popup-state">
        {% include 'button-state'%}
    </div>
    <div data-product-card-popup-container class="popup-container">
        {% include 'product-card' show_qty: 'true', show_price: 'true', hide_cta: 'true' %}
    </div>
</section>
