.header-container{
  display: flex;
  flex-direction: column;
  &--sticky {
    @include sticky;
    width: 100%;
    padding-bottom: 50px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  @include media-query($small){
    padding: 5px;
  }

  }

.burger-menu {
  display: none;
  @include media-query($small){
    display: block;
    font-size: 190%;
  }
}
.navigation-opener-link {
  @include media-query($small){
    display: none;
  }
}

.links-module-left{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: baseline;
  @include media-query($small){
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
  }
  &--style{
    &--right {
      order: 2;
      flex-direction: row;
    }
  }
}

.logo-image {
  padding-left: 25px;
  padding-right: 25px;
  @include media-query($small){
    font-size: 60%;
  }
}

.links-module-right{
  display: flex;
  align-items: baseline;
  @include media-query($small){
    border: 1px solid black;
    justify-content: center;
    align-items: center;
  }
}

.navigation-content {
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
}
.navigation-module {
  flex-grow: 1;
  flex-shrink: 0;
}
.navigation-promo {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 70%;
  background-color: antiquewhite;
}

.search-module {
  order: 2;
}
.account-menu {
  order: 3;
}
.cart_button {
  order: 7;
}
.cart-icon {
  @include media-query($small) {
    @include visually-shown;
  }
}
.cart-title {
  @include media-query($medium) {
    @include visually-shown;
  }
  @include media-query($large) {
    @include visually-shown;
  }
  @include media-query($widescreen) {
    @include visually-shown;
  }
}
