<span data-button-state>
    <span data-button-loading-container class="button-loading-container">
        {% include 'button-loading' %}
    </span>
    <span data-button-success class="visually-hidden">success</span>
    <span data-button-failure-container class="button-failure-container visually-hidden">
        {% include 'button-failure' %}
    </span>
</span>
