<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 11"><defs></defs><title>Hamburger Menu</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><line y1="0.5" x2="19" y2="0.5"/><line x1="3" y1="5.5" x2="16" y2="5.5"/><line y1="10.5" x2="19" y2="10.5"/></g></g></svg>
