.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

.add-to-cart-button-container {
  display: flex;
  flex-direction: column;
};
