.simple{
  display: flex;
  min-height: 40px;
  justify-content: center;
  @include media-query($small) {
    flex-basis: 70%;
  }

  &--button-failure {
    animation-name: error-message;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    @keyframes error-message {
      50%{
        opacity: 0;
      }
      70%{
        opacity: 0;
      }
    }
  }
}
