.image-carousel {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;

  @include media-query($medium) {
    flex-direction: row;
  }

  img {
    width: 100px;
    height: 100px;
    padding: 5px;
  }
}

