.modal {
  @include sticky;
  background-color: $modal_background;
  z-index: 2;
  top:0;
  right:0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  * {
    border: 1px solid black;
  }
}
.modal-content {
   background-color: lightblue;

  &--position {
    &--right {
      top: 0;
      position: absolute;
      align-self: flex-end;
      height: 100%;
      width: 40%;
      @include media-query($small) {
        width: 100%;
      }
      @include media-query($medium) {
        width: 50%;
      }
      @include media-query($widescreen) {
        width: 30%;
      }
    }

    &--center {
      align-self: center;
      padding: 50px;
      margin: 0 auto;
      width: 70%;
      @include media-query($small) {
        top: 100px;
        width: 100%;
      }
      @include media-query($widescreen) {
        width: 60%;
      }
    }
  }
}

.modal-header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.close-icon {
  order: 2;
  svg {
    width: 40px;
    height: 40px;
  }
  align-self: center;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}



