.modal {
  @include sticky;
  z-index: 2;
  top:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  * {
    border: 1px solid black;
  }
  &--full_size {
    height: 100%;
    width: 100%;
  }
  &--grey_bg {
    background-color: $modal_background;
  }

  &--product-popup {
    margin: 0 auto;
    max-height: 400px;
    padding: 20px;
    @include modal-content-width(100%, 50%, 40%, 30%);
    @include media-query($small) {
      padding: 0;
    }
  }
}
.modal-content {
   background-color: lightblue;

  &--position {
    &--popup-right {
      padding: 10px;
    }
    &--right {
      top: 0;
      position: absolute;
      align-self: flex-end;
      height: 100%;
      @include modal-content-width(100%, 50%, 40%, 30%);
    }

    &--center {
      align-self: center;
      padding: 50px;
      margin: 0 auto;
      width: 70%;
      @include media-query($small) {
        top: 100px;
        width: 100%;
      }
      @include media-query($widescreen) {
        width: 60%;
      }
    }
  }
}

.modal-header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-icon {
  order: 2;
  svg {
    width: 30px;
    height: 30px;
  }
  padding: 5px;
  align-self: center;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}



